In [ ]:
import numpy as np
import pandas as pd

**cards dataset Exploration**

In [ ]:
# reading data

In [ ]:
cards_df=pd.read_csv("/content/drive/MyDrive/Data/cards_data.csv")
cards_df.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [ ]:
cards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6146 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   int64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6146 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6146 non-null   object
 10  acct_open_date         6146 non-null   object
 11  year_pin_last_changed  6146 non-null   int64
 12  card_on_dark_web       6146 non-null   object
dtypes: int64(6), object(7)
memory usage: 624.3+ KB

In [ ]:
#check duplicates
cards_df.duplicated().sum()

np.int64(0)

In [ ]:
#convert ID columns to object data types
cards_df['id']=cards_df['id'].astype(str)
cards_df['client_id']=cards_df['client_id'].astype(str)

In [ ]:
cards_df.describe()

        card_number          cvv  num_cards_issued  year_pin_last_changed
count  6.146000e+03  6146.000000       6146.000000            6146.000000
mean   4.820426e+15   506.220794          1.503091            2013.436707
std    1.328582e+15   289.431123          0.519191               4.270699
min    3.001055e+14     0.000000          1.000000            2002.000000
25%    4.486365e+15   257.000000          1.000000            2010.000000
50%    5.108957e+15   516.500000          1.000000            2013.000000
75%    5.585237e+15   756.000000          2.000000            2017.000000
max    6.997197e+15   999.000000          3.000000            2020.000000



*   The dataset of "Cards" is cleaning and ready for analysis , now we will explore the "Users" dataset

**users dataset exploration**

In [ ]:
users_df=pd.read_csv('/content/drive/MyDrive/Data/users_data.csv')
users_df.head()

,id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
1,1746,53,68,1966,12,Female,3606 Federal Boulevard,40.76,-73.74,$37891,$77254,$191349,701,5
2,1718,81,67,1938,11,Female,766 Third Drive,34.02,-117.89,$22681,$33483,$196,698,5
3,708,63,63,1957,1,Female,3 Madison Street,40.71,-73.99,$163145,$249925,$202328,722,4
4,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,$53797,$109687,$183855,675,1

In [ ]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2000 non-null   int64
 1   current_age        2000 non-null   int64
 2   retirement_age     2000 non-null   int64
 3   birth_year         2000 non-null   int64
 4   birth_month        2000 non-null   int64
 5   gender             2000 non-null   object
 6   address            2000 non-null   object
 7   latitude           2000 non-null   float64
 8   longitude          2000 non-null   float64
 9   per_capita_income  2000 non-null   object
 10  yearly_income      2000 non-null   object
 11  total_debt         2000 non-null   object
 12  credit_score       2000 non-null   int64
 13  num_credit_cards   2000 non-null   int64
dtypes: float64(2), int64(7), object(5)
memory usage: 218.9+ KB

In [ ]:
#covert "id"column to string
users_df['id']=users_df['id'].astype(str)

In [ ]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2000 non-null   object
 1   current_age        2000 non-null   int64
 2   retirement_age     2000 non-null   int64
 3   birth_year         2000 non-null   int64
 4   birth_month        2000 non-null   int64
 5   gender             2000 non-null   object
 6   address            2000 non-null   object
 7   latitude           2000 non-null   float64
 8   longitude          2000 non-null   float64
 9   per_capita_income  2000 non-null   object
 10  yearly_income      2000 non-null   object
 11  total_debt         2000 non-null   object
 12  credit_score       2000 non-null   int64
 13  num_credit_cards   2000 non-null   int64
dtypes: float64(2), int64(6), object(6)
memory usage: 218.9+ KB

In [ ]:
users_df.duplicated().sum()

np.int64(0)

In [ ]:
users_df['credit_score'].max()

850

In [ ]:
users_df['credit_score'].min()

480

**Explore dataset of 'Transactions'**

In [ ]:
Transactions_df=pd.read_csv("/content/drive/MyDrive/Data/transactions_data.csv")
Transactions_df.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN

In [ ]:
Transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   date            object
 2   client_id       int64
 3   card_id         int64
 4   amount          object
 5   use_chip        object
 6   merchant_id     int64
 7   merchant_city   object
 8   merchant_state  object
 9   zip             float64
 10  mcc             int64
 11  errors          object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.2+ GB

In [ ]:
Transactions_df.isnull().sum()

id                       0
date                     0
client_id                0
card_id                  0
amount                   0
use_chip                 0
merchant_id              0
merchant_city            0
merchant_state     1563700
zip                1652706
mcc                      0
errors            13094522
dtype: int64

In [ ]:
# fill nulls in "errors"column with "no errors"
Transactions_df['errors'].fillna("No errors",inplace=True)

/tmp/ipython-input-3555988314.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Transactions_df['errors'].fillna("No errors",inplace=True)

In [ ]:
#delete "zip code" and "errors" columns as we wont use them in analysis
Transactions_df.drop(columns=['zip' ],inplace=True)

In [ ]:
Transactions_df.describe(include=object)

,date,amount,use_chip,merchant_city,merchant_state,errors
count,13305915,13305915,13305915,13305915,11742215,13305915
unique,4136496,81161,3,12492,199,23
top,2016-03-03 11:42:00,$80.00,Swipe Transaction,ONLINE,CA,No errors
freq,18,132115,6967185,1563700,1427087,13094522

In [ ]:
unknown_states = Transactions_df[Transactions_df["merchant_state"].isna() | (Transactions_df["merchant_state"] == "Unknown")]
unknown_states.head(40)

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,mcc
7,7475335,2010-01-01 00:14:00,1684,2140,$26.46,Online Transaction,39021,ONLINE,NaN,4784
8,7475336,2010-01-01 00:21:00,335,5131,$261.58,Online Transaction,50292,ONLINE,NaN,7801
18,7475346,2010-01-01 00:34:00,394,4717,$26.04,Online Transaction,39021,ONLINE,NaN,4784
24,7475353,2010-01-01 00:43:00,301,3742,$10.17,Online Transaction,39021,ONLINE,NaN,4784
26,7475356,2010-01-01 00:45:00,566,3439,$16.86,Online Transaction,16798,ONLINE,NaN,4121
29,7475359,2010-01-01 00:48:00,1127,3869,$22.57,Online Transaction,39021,ONLINE,NaN,4784
35,7475365,2010-01-01 01:01:00,820,127,$270.22,Online Transaction,73186,ONLINE,NaN,4814
37,7475367,2010-01-01 01:06:00,1758,4686,$87.09,Online Transaction,17976,ONLINE,NaN,4900
41,7475372,2010-01-01 01:11:00,566,5577,$14.66,Online Transaction,16798,ONLINE,NaN,4121
43,7475374,2010-01-01 01:13:00,1684,94,$12.67,Online Transaction,39021,ONLINE,NaN,4784
56,7475391,2010-01-01 01:41:00,1087,1029,$62.98,Online Transaction,17976,ONLINE,NaN,4900
57,7475394,2010-01-01 01:46:00,1575,224,$34.34,Online Transaction,16798,ONLINE,NaN,4121
64,7475401,2010-01-01 01:54:00,1449,241,$119.23,Online Transaction,87530,ONLINE,NaN,4900
66,7475403,2010-01-01 01:56:00,760,5876,$52.98,Online Transaction,39021,ONLINE,NaN,4784
84,7475425,2010-01-01 02:16:00,241,58,$38.11,Online Transaction,17976,ONLINE,NaN,4900
86,7475427,2010-01-01 02:17:00,1776,4938,$66.05,Online Transaction,39021,ONLINE,NaN,4784
90,7475432,2010-01-01 02:25:00,1214,5508,$51.58,Online Transaction,98436,ONLINE,NaN,5192
117,7475463,2010-01-01 03:11:00,1921,1181,$40.89,Online Transaction,59350,ONLINE,NaN,7922
122,7475468,2010-01-01 03:20:00,121,5952,$58.47,Online Transaction,80770,ONLINE,NaN,7922
137,7475485,2010-01-01 03:57:00,185,5361,$15.89,Online Transaction,39261,ONLINE,NaN,5815
142,7475490,2010-01-01 04:14:00,585,5881,$20.86,Online Transaction,41122,ONLINE,NaN,4784
143,7475491,2010-01-01 04:17:00,356,3251,$7.71,Online Transaction,50404,ONLINE,NaN,4784
146,7475494,2010-01-01 04:21:00,103,5113,$166.34,Online Transaction,56276,ONLINE,NaN,4899
152,7475500,2010-01-01 04:30:00,1905,5807,$54.98,Online Transaction,73186,ONLINE,NaN,4814
153,7475501,2010-01-01 04:31:00,526,5917,$22.23,Online Transaction,16798,ONLINE,NaN,4121
159,7475509,2010-01-01 04:45:00,1718,4706,$46.21,Online Transaction,15143,ONLINE,NaN,4784
160,7475510,2010-01-01 04:49:00,1629,4290,$26.38,Online Transaction,39021,ONLINE,NaN,4784
169,7475519,2010-01-01 05:04:00,1540,5562,$46.05,Online Transaction,39021,ONLINE,NaN,4784
170,7475520,2010-01-01 05:05:00,1102,2822,$185.60,Online Transaction,80770,ONLINE,NaN,7922
174,7475524,2010-01-01 05:12:00,1445,3722,$4.43,Online Transaction,39021,ONLINE,NaN,4784
183,7475534,2010-01-01 05:30:00,1034,4622,$41.30,Online Transaction,17976,ONLINE,NaN,4900
194,7475546,2010-01-01 05:43:00,1540,3763,$46.01,Online Transaction,39021,ONLINE,NaN,4784
202,7475559,2010-01-01 05:52:00,822,5385,$10.45,Online Transaction,50292,ONLINE,NaN,7801
209,7475567,2010-01-01 05:57:00,327,5512,$61.86,Online Transaction,39021,ONLINE,NaN,4784
214,7475572,2010-01-01 06:01:00,592,4133,$12.81,Online Transaction,39021,ONLINE,NaN,4784
220,7475578,2010-01-01 06:02:00,38,2526,$14.67,Online Transaction,50404,ONLINE,NaN,4784
226,7475586,2010-01-01 06:03:00,1696,2408,$9.68,Online Transaction,39021,ONLINE,NaN,4784
231,7475592,2010-01-01 06:07:00,112,1134,$23.61,Online Transaction,39021,ONLINE,NaN,4784
238,7475601,2010-01-01 06:08:00,1692,5371,$42.28,Online Transaction,39021,ONLINE,NaN,4784
244,7475607,2010-01-01 06:10:00,135,2808,$189.29,Online Transaction,90999,ONLINE,NaN,4722

In [ ]:
unknown_states["merchant_city"].unique()

array(['ONLINE'], dtype=object)

In [ ]:
Transactions_df["merchant_state"]=Transactions_df["merchant_state"].fillna("ONLINE")

In [ ]:
Transactions_df.isnull().sum()

id                0
date              0
client_id         0
card_id           0
amount            0
use_chip          0
merchant_id       0
merchant_city     0
merchant_state    0
mcc               0
errors            0
dtype: int64

In [ ]:
#check unique errors in data
Transactions_df["errors"].unique()

array(['No errors', 'Technical Glitch', 'Bad Expiration',
       'Bad Card Number', 'Insufficient Balance', 'Bad PIN', 'Bad CVV',
       'Bad Zipcode', 'Insufficient Balance,Technical Glitch',
       'Bad PIN,Insufficient Balance', 'Bad PIN,Technical Glitch',
       'Bad Expiration,Technical Glitch',
       'Bad Card Number,Bad Expiration',
       'Bad Card Number,Insufficient Balance',
       'Bad Expiration,Insufficient Balance', 'Bad Card Number,Bad CVV',
       'Bad CVV,Technical Glitch', 'Bad Expiration,Bad CVV',
       'Bad CVV,Insufficient Balance', 'Bad Card Number,Technical Glitch',
       'Bad Zipcode,Insufficient Balance',
       'Bad Card Number,Bad Expiration,Insufficient Balance',
       'Bad Zipcode,Technical Glitch'], dtype=object)

In [ ]:
Transactions_df["errors"].nunique()

23

**save datasets to analysis stage**

In [ ]:
Transactions_df.to_csv("Transactions_data.csv",index=False)

In [ ]:
users_df.to_csv("Users_df.csv" , index=False)

In [ ]:
cards_df.to_csv("Cards_df.csv",index=False)